<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>onpay</name>
    <displayName><![CDATA[OnPay]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Use OnPay.io for handling payments]]></description>
    <author><![CDATA[OnPay.io]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about uninstalling the OnPay.io module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>